h1{
  color: rgba(255,255,255,1);
  font-family: "Rockwell Std";
  font-size: 100px;
  line-height: 120px;
}
sub{
  background: url("../../../assets/clock.svg") no-repeat left center;
  color: rgba(255,255,255,1);
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 300;
  line-height: 41px;
  text-align: center;
  display: inline-block;
  padding-left: 30px;
}
#use{
  display: block;
  margin: 30px auto;
  height: 40px;
  width: 237px;
  border: 2px solid rgba(255,255,255,1);
  border-radius: 2px;
  background-color: rgba(255,255,255,1);

  color: rgba(0,157,220,1);
  font-family: "Rockwell Std";
  font-size: 18px;
}
#container{
  position: absolute;
  width: 100%;
  top:50%;
  margin-top: -100px;
  text-align: center;
}
#freeRoom{
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 40px;
  width: 290px;
  border: 2px solid rgba(255,255,255,1);
  border-radius: 2px;
  background-color: transparent;
  color: rgba(255,255,255,1);
  font-family: "Rockwell Std";
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
