<app-wrapper [showName]="false" backgroundColor="rgba(0,157,220,1)">
  <div id="container">
    <!-- Free meeting rooms -->
    <h1>{{freemeetingroomstitle}}</h1>
    <div id="roomContainer">
      <div class="roomWrapper" *ngFor="let item of meetingRooms">
        <h4>{{item.name}}</h4>
        <ul>
          <li class="floor">{{item.location}}</li>
          <li class="capacity">{{item.capacity}} {{persons}}</li>
          <li class="free" *ngIf="!!item.free">until {{item.free | date:"H:mm"}}</li>
        </ul>
        <!-- Reserve -->
        <button class="submit" [disabled]="item.diff <= websocket.settings.maxReservationWindow" (click)="bookRoom(item.id)"> {{newreservationtitle}}</button>
      </div>
      <!-- We're sorry. There are no free rooms -->
      <div class="roomWrapper error" *ngIf="meetingRooms.length === 0">
        {{freemeetingroomserror}}
      </div>
    </div>
    <!-- CANCEL -->
    <button *ngIf="!settings.isAdmin" id="closeButton" (click)="cancelEvent()">{{generalcancel}}</button>
  </div>
</app-wrapper>
