<app-reserved *ngIf="isReserved && !isOccupied" [until]="getReservationUntil" [title]="getReservationTitle" (start)="setOccupied()"></app-reserved>
<app-occupied *ngIf="isReserved && isOccupied" [until]="getReservationUntil" [title]="getReservationTitle"></app-occupied>
<app-free *ngIf="!isReserved" [until]="nextReservationDate"></app-free>

<aside>
  <h3>Tuesday November 28th</h3>
  <div id="scrollbar">


    <div *ngFor="let i of numbers" class="calendarBg">
      <div class="num"><span>{{i}}</span></div>
      <div class="display">
        <div class="topDisplay"></div>
        <div class="middleDisplay"></div>
        <div class="bottomDisplay"></div>
      </div>
    </div>
    <!--[ngStyle]="{'top':res.startHour * 48 + 30}-->

    <div class="reservationItem" *ngFor="let res of reservations" [ngStyle]="{'top.px':res.startHour * 48 + 24, 'height.px' : res.length * 48}" >
      <span>{{ res.title }}</span>
    </div>

  </div>
</aside>
