<app-no-connection *ngIf="!websocket.connected"></app-no-connection>
<app-free-meeting-room *ngIf="websocket.connected && selectRoom" [roomData]="roomsCollection" (roomSelected)="showReservationPanel($event)" (cancel)="hideSelectRoom()" ></app-free-meeting-room>

<app-new-reservation *ngIf="websocket.connected && !selectRoom && makeReservation && !(isReserved || (!!currentReservation && currentReservation.hasStarted))" (cancelEvent)="closeReservationPanel()" [roomSelectedId]="makeReservationOnRoomId" [currentReservation]="currentReservation" [nextReservation]="nextReservation"></app-new-reservation>
<app-reserved *ngIf="websocket.connected && !selectRoom && isReserved && !currentReservation.hasStarted" [until]="getReservationUntil" [title]="getReservationTitle" (start)="setOccupied()"></app-reserved>
<app-occupied *ngIf="websocket.connected && !selectRoom && isReserved && currentReservation.hasStarted" [currentReservation]="currentReservation" [nextReservation]="nextReservation" [until]="getReservationUntil" [title]="getReservationTitle" (end)="endCurrentReservation()" (findRoom)="showSelectRoom()"></app-occupied>
<app-free *ngIf="websocket.connected && !selectRoom && !makeReservation && !isReserved" [until]="nextReservationDate" (reservationEvent)="showReservationPanel(roomId)"></app-free>

<aside>
  <h3>{{currentDate | date:"EEEE MMMM d" }}th</h3>
  <div id="scrollbar">


    <div *ngFor="let i of numbers" class="calendarBg">
      <div class="num"><span>{{i}}</span></div>
      <div class="display">
        <div class="topDisplay"></div>
        <div class="middleDisplay"></div>
        <div class="bottomDisplay"></div>
      </div>
    </div>
    <!--[ngStyle]="{'top':res.startHour * 48 + 30}-->

    <div class="reservationItem" *ngFor="let res of localReservations" [ngStyle]="{'top.px':res.startHour * 48 + 24, 'height.px' : res.length * 48}" >
      <span>{{ res.title }}</span>
    </div>

  </div>
</aside>
